*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}

body::after {
    content: "";
    display: block;
    height: 55px;
}

.header {
    background-color: lightgrey;
    padding: 1rem 0;
    border-bottom: 5px solid #0885c6;
    position: sticky;
    top: 0;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.main-menu {
    float: left;
}

.profile {
    float: right;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu ul li {
    display: inline;
    margin-right: 0.625rem;
}

.main-menu ul li :last-child {
    margin-right: 0;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.main-menu a, .profile a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.sidebar {
    float: left;
    padding: 1rem 0;
    width: 15rem;
    position: sticky;
    top: 55px;
}

.sidebar-section {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.25rem;
}

.sidebar-section legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.page-content {
    padding: 1rem;
    margin-left: 15rem;
}

.product-category-header {
    margin-top: 0;
}

.product-card {
    display: inline-block;
    height: 22rem;
    width: 31rem;
    border: 2px solid #0885c6;
    border-radius: 5px;
    margin: 0 0.625rem 0.625rem 0;

}

.product-image {
    float: left;
    height: 100%;
    width: 50%;
}

.product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-details {
    float: right;
    height: 100%;
    width: 50%;
    padding: 1rem;
}

.product-details header {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-details .information {
    text-align: justify;
    font-size: 1.125rem;
    height: 65%;
    overflow: auto;
}

.product-details .control {
    text-align: center;
}

.product-details .btn {
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0;
    overflow: hidden;
}

.product-details .btn span {
    display: inline-block;
    padding: 0.625rem 1.25rem ;
}

.product-details .btn .price {
    background-color: #333;
}

.product-details .btn .buy {
    background-color: #0885c6;
    font-weight: bold;
}

.footer {
    background-color: lightgrey;
    padding: 1rem 0;
    border-top: 5px solid #0885c6;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.scroll-to-top-btn{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 1.5rem;
}