button {
    border-radius: 50%;
}

body, main {
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    background-color: red;
    width: 300px;
    height: 278px;
    border: 2px solid black;
    border-radius: 5%;
}

.buttons {
    background-color: white;
    display: flex;
}

.digits {
    width: 180px;
}

.other {
    width: 120px;
    border-left: 2px solid black;
}

.digits button {
    margin: 2px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.other button {
    margin: 2px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.screen {
    /* border-radius: 20px; */
    height: 60px;
    text-align: end;
    font-size: 2rem;
    border-bottom: 2px solid black;
}

.screen span {
    margin-right: 40px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    word-wrap: break-word;
    vertical-align: middle;
}